@use '../abstracts/' as a;

.combobox {
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.combobox-controls {
    display: flex;
    justify-content: space-between;
    border-radius: a.$rad a.$rad 0 0;
}

.combobox-btn {
    height: 70px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    border-radius: a.$rad;
    cursor: pointer;
    background-color: transparent;
}

.combobox-input {
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    padding: 0 15px;
    height: 70px;
    width: min-content;
    background-color: transparent;

    &::placeholder {
        color: white;
        opacity: 1;
    }
    &.expanded::placeholder {
        opacity: .5;
    }
}





.combobox-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 50px;
    line-height: 1em;
    max-height: 12em;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 0 0 a.$rad a.$rad;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, .1);
    scrollbar-width: thin;

    & li {
        cursor: pointer;
    }
}

#ingredients-controls {
    background-color: a.$clr-blue;
}

#appliances-controls {
    background-color: a.$clr-green;
}

#ustensils-controls {
    background-color: a.$clr-red;
}

#ingredients-list {
    background-color: a.$clr-blue;
}

#appliances-list {
    background-color: a.$clr-green;
}

#ustensils-list {
    background-color: a.$clr-red;
}